GitPython >= 3.1.43
langchain >= 0.2.16
langchain-community >= 0.3.9
langchain_pinecone
langchain-text-splitters >= 0.2.4
openai >= 1.42.0
pinecone >= 5.0.1,
python-dotenv >= 1.0.1,
pinecone-client 
pygithub
streamlit
tiktoken >= 0.7.0
tree-sitter >= 0.22.3
tree-sitter-typescript >= 0.21.2
tree-sitter-language-pack >= 0.2.0

GitPython \
langchain \
langchain-community \
langchain-experimental \
langchain-openai \
langchain-text-splitters \
langchain_experimental \
langchain_openai \
langchain_pinecone \
neo4j \
openai \
pinecone \
pinecone-client \
pinecone-plugin-inference \
pinecone-plugin-assistant \
pygithub \
pygments \
pyngrok \
python-dotenv \
requests \
semchunk \
streamlit \
tiktoken \
tree-sitter \
tree-sitter-language-pack \
wikipedia \
yfiles_jupyter_graphs